<%- include('./includes/head.ejs') -%>

<body>

  <div id="header">
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
          <div class="container-fluid">
            <h5 class="text-white me-lg-3 pt-2"><i class="bi bi-gear-wide-connected text-white"> </i>SD Tech & Education
            </h5>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item text-white"><a class="nav-link active text-white" aria-current="page"
                    href="/">Home</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div id="imgsrc" class="bg-light">
    <div class="container pb-5">
      <div class="row">
        <h1 class="sectionhead pt-2">Please select select template</h1>
        <% for(let img of cards) { %>
        <div class="col col-md-2">
          <img src="<%= img %>" class="img-fluid small-img" alt="<%= img %>">
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <div id="preview" class="bg-light">
    <div class="container">
      <div class="row pb-5">
        <div class="col col-12">
          <center><img src="<%=cards[0]%>" id="main-img" class="img-thumbnail" alt=""></center>
        </div>
      </div>
    </div>
  </div>

  <div id="email" class="bg-light ">
    <div class="container p-5 ">
      <h1 class="sectionhead">Send mail</h1>
      <form class="row g-3 pb-5 pt-5 mb-5 mt-2 border border-2" action="/send-mail" method="POST">

        <div class="col-md-2">
          <label for="senderMail" class="form-label ">Sender</label>
          <input type="email" class="form-control" id="senderMail" value="<%=user.mail%>" readonly>
        </div>

        <div class="col-md-2">
          <label for="recieverMail" class="form-label ">Reciever</label>
          <input type="email" class="form-control" id="recieverMail" name="recieverMail">
  
        </div>

        <div class="col-md-2">
          <label for="mailSubject" class="form-label">Subject</label>
          <input type="text" class="form-control" id="mailSubject" name="mailSubject">
        </div>
        <input type="hidden" value="<%=cardType%>" name="cardType">
        <div class="col-md">
          <br>
          <input type="hidden" id="mail-img" name="cardImg">
          <button class="btn btn-primary send-mail-btn" type="submit">Send</button>

        </div>
      </form>

    </div>
  </div>

  </div>

  <div id="footer">
    <div class="container-fluid">
      <div class="row bg-dark text-white p-2 sticky-lg-top">
        <div class="col-7 offset-md-1">
          <h6>SD Tech pvt. limited., copyright@2021, This project is developed by Om Patil</h6>
        </div>
        <div class="col offset-md-2 ">
          <i class="bi bi-facebook ms-2"> </i> <i class="bi bi-meta ms-2"> </i><i class="bi bi-instagram ms-2"></i>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/js/script.js"></script>
</html>